<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}">
    <title>RunTogether User Management</title>
</head>
<body>
    <div class="container">
        <h1>Welcome, {{ name }}!</h1>

        <h2>Find runners who match your pace, distance, and location:</h2>
        <form action="/search_runners" method="POST">
            <select name="Proficiency" id="Proficiency" required>
                <option value="" disabled selected>Proficiency</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>

            <input type="text" name="PreferredPaceLevel" id="PreferredPaceLevel" placeholder="Preferred Pace Level in km (e.g. 6:30)" required>

            <select name="PreferredDistance" id="PreferredDistance" required>
                <option value="" disabled selected>Preferred Distance</option>
                <option value="5K">5K</option>
                <option value="10K">10K</option>
                <option value="Half Marathon">Half Marathon</option>
                <option value="Marathon">Marathon</option>
            </select>

            <input type="text" name="Location" id="Location" placeholder="Location" required>

            <button type="button" id="autoFillBtn">Use your Preferences</button>
            <button type="submit">Search</button>
        </form>
        <br>
        <div style="text-align: center;">
        <a href="{{ url_for('index') }}" class="btn_preset">Back to Home</a>
        </div>

    </div>
        <script>
            document.getElementById('autoFillBtn').addEventListener('click', () => {
                document.getElementById('Proficiency').value = "{{ proficiency }}";
                document.getElementById('PreferredPaceLevel').value = "{{ pref_pace }}";
                document.getElementById('PreferredDistance').value = "{{ pref_dist }}";
                document.getElementById('Location').value = "{{ location }}";
            });
        </script>


</body>
</html>
