<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}">
    <title>RunTogether User Management</title>
</head>
<body>
<div class="section">
    <h1 style="color: white;">FIND YOUR RUNNING PARTNER TODAY</h1>
</div>
    </div>
    <div class="container">
        <h2>Login</h2>
        <form action="/login_user" method="POST">
            <input type="email" name="Email" placeholder="Email" required>
            <input type="password" name="Password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>

        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up Here</a></p>



        <h2>Users List (*Delete me later)</h2>
        <ul class="user-list">
            {% for user in users %}
                <li>
                    <span>
                        {{ user[0] }}, {{ user[1] }}, {{ user[2] }}, {{ user[3] }}, {{ user[4] }}, {{ user[5] }}, {{ user[6] }}, {{ user[7] }}, {{ user[8] }}


                    </span>
                    <div>
                        <a href="{{ url_for('update_user_route', UserID=user[0]) }}">Edit</a>
                        <a href="{{ url_for('delete_user_route', UserID=user[0]) }}" class="delete-link">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
