<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Shortlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}">
</head>
<body>
    <div class="section">
        <h1 style="color: white;">Your Shortlist</h1>
    </div>

    <div class="search_container">
        <h2>Shortlist:</h2>
        <ul class="user-list">
            {% for user in runners %}
            <li class="user-card">
                <div class="user-item"><strong>Name:</strong> {{ user[3] }}</div>

                <div class="user-item">
                    <img src="/static/prof_icon.png" alt="Proficiency icon" class="user-icon">
                    {{ user[4] }}
                </div>

                <div class="user-item">
                    <img src="/static/pace_icon.png" alt="Pace icon" class="user-icon">
                    {{ user[5] }}
                </div>

                <div class="user-item">
                    <img src="/static/dist_icon.png" alt="Distance icon" class="user-icon">
                    {{ user[6] }}
                </div>

                <div class="user-item">
                    <img src="/static/map_icon.png" alt="Location icon" class="user-icon">
                    {{ user[7] }}
                </div>
            </li>
            {% endfor %}
        </ul>
        </br>
        {% if not runners %}
            <p>No runners in your shortlist yet.</p>
        {% endif %}


        <div style="text-align: center;">
            <a href="{{ url_for('dashboard') }}" class="btn_preset">Back to Dashboard</a>
        </div>
    </div>
</body>
</html>
