<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='myStyle.css') }}">

    <title>Update User</title>
</head>
<body>
    <div class="container">

        <h2>Add New Account</h2>
        <form action="/add_user" method="POST">
            <input type="email" name="Email" placeholder="Email" required>
            <input type="password" name="Password" placeholder="Password" required>
            <input type="password" name="ConfirmPassword" placeholder="Re-enter Password" required>
            <input type="text" name="Username" placeholder="Username" required>
            <select name="Proficiency" id="Proficiency" required>
                <option value="" disabled selected>Proficiency</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
            </select>
            <input type="text" name="PreferredPaceLevel" placeholder="Preferred Pace Level in km (e.g. 6:30)" required>
            <select name="PreferredDistance" required>
                <option value="" disabled selected>Preferred Distance</option>
                <option value="5K">5K</option>
                <option value="10K">10K</option>
                <option value="Half Marathon">Half Marathon</option>
                <option value="Marathon">Marathon</option>
            </select>
            <input type="text" name="Location" placeholder="Location" required>
            <button type="submit">Add User</button>
        </form>

        <a href="/" class="back-link">Back to Users List</a>
    </div>
</body>
</html>
